<!DOCTYPE html>
<html>
<head>
	<title>Experience</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="exp.css">
	
</head>
<body>
<nav>
<ul>
 <li> <a href=""> Choose Template</a></li>
 <li><a href="">Personal Info</a></li>
 <li><a href=""> Expirence</a></li>
 <li><a href=""> Skills</a></li>  
 <li><a href="">Summary</a></li>      
 <li><a href="">Review&Download</a></li> 
</ul>
<hr>
</nav>
<div class="container-first">
	<h1>Exprience</h1>
	<p>Add Information your Exprience backround</p>
	<div class="container">
		<div class="main-container original" id="div_1">
			<label for="insname">Company Name</label><br>
			<input type="text" name="insname" id="field"><br>
			<label for="course">Position</label><br>

			<input type="text" name="course" id="field"><br>
			Duration Time<br>
			<label for="start">Start</label><br>
			<select class="listdown">
			<option>Months</option>
			<option>Low</option>
			<option>Medium</option>
			</select>
			<select class="listdown">
			<option>Year</option>
			<option>Low</option>
			<option>Medium</option>
			</select><br>
			<label for="start">End</label><br>
			<select class="listdown">
			<option>Months</option>
			<option>Low</option>
			<option>Medium</option>
			</select>
			<select class="listdown">
			<option>Year</option>
			<option>Low</option>
			<option>Medium</option>
			</select><br>
			<label for="describe">Description</label><br>
			<input type="text" name="describe" id="field"><br><br>
			<button class="add_field_button" >
				+Add more
			</button>
			<button class="back">Back</button>
			
			<button class="save">Save&Next</button>
		</div>
	</div>
			
		
</div>
	



</body>
</html>