
<!DOCTYPE html>
<html>
<head>
	<title>Hobbies&languages</title>
	<link rel="stylesheet" type="text/css" href="hob.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
	<nav>
<ul>
 <li> <a href=""> Choose Template</a></li>
 <li><a href="">Personal Info</a></li>
 <li><a href=""> Expirence</a></li>
 <li><a href=""> Skills</a></li>  
 <li><a href="">Summary</a></li>      
 <li><a href="">Review&Download</a></li> 
</ul>
<hr>
</nav>
 
<div class="container">

<h1>Hobbies&Languages</h1>
<p>Add Information about your Hoobies & Language you know. </p>
<div class="left-container">
	<label for="hob1">Hobby-1</label><br>
	<input type="text" name="hob1"><br>
	<label for="hob1">Hobby-2</label><br>
	<input type="text" name="hob1"><br>
	<label for="hob1">Hobby-3</label><br>
	<input type="text" name="hob1"><br>
	<label for="hob1">Hobby-4</label><br>
	<input type="text" name="hob1"><br>
</div>
<div class="right-container">
	<label for="hob1">Language-1</label><br>
	<input type="text" name="hob1"><br>
	<label for="hob1">Language-2</label><br>
	<input type="text" name="hob1"><br>
	<label for="hob1">Language-3</label><br>
	<input type="text" name="hob1"><br>
	<label for="hob1">Language-4</label><br>
	<input type="text" name="hob1"><br>
</div><br><br>
<button class="back">Back</button>			
<button class="save">Submit</button>

</div>
</body>
</html>