<!DOCTYPE html>
<html>
<head>
	<title>Skills</title>
	<link rel="stylesheet" type="text/css" href="skills.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="skills.js"></script>
</head>
<body>
	<nav>
<ul>
 <li><a href=""> Choose Template</a></li>
 <li><a href="">Personal Info</a></li>
 <li><a href=""> Expirence</a></li>
 <li><a href=""> Skills</a></li>  
 <li><a href="">Summary</a></li>      
 <li><a href="">Review&Download</a></li> 
</ul>
<hr>
</nav>

<div class="container">
	<h1>SKILLS</h1>
	<p>Highlight 6-8 of your top skills</p><br><br>
<div  class="container-first">
	<div class="main-container original" id="div_1">
	<form class="form-1">
		<label for="sk-1">Skills</label>
		<input type="text" name="sk-1" placeholder="eg-Html">
		<label for="sk-2">level</label>
		<select class="listdown">
			<option>High</option>
			<option>Low</option>
			<option>Medium</option>
		</select>
	</form><br></div>
	<div  class="container-second">
	<form class="form-1">
		<label for="sk-1">Skills</label>
		<input type="text" name="sk-1" placeholder="eg-Css">
		<label for="sk-2">level</label>
		<select class="listdown">
			<option>High</option>
			<option>Low</option>
			<option>Medium</option>
		</select>
	</form><br>

	<div  class="container-second">
	
			<form class="form-1">
		<label for="sk-1">Skills</label>
		<input type="text" name="sk-1" placeholder="eg-Css">
		<label for="sk-2">level</label>
		<select class="listdown">
			<option>High</option>
			<option>Low</option>
			<option>Medium</option>
		</select>
	</form><br><br>
	
		<button class="back">Back</button>
		<button class="add_field_button" id="read">+AddMore</button>
		<button class="save">Save&Next</button>
	</form>
</div>

</div>
<!-- This container will create the copy of the children when you click add more button -->
<div class="main-container originalCopy" style="display: none;" >
	<form class="form-1">
		<label for="sk-1">Skills</label>
		<input type="text" name="sk-1" placeholder="eg-Html">
		<label for="sk-2">level</label>
		<select class="listdown">
			<option>High</option>
			<option>Low</option>
			<option>Medium</option>
		</select>
	</form><br>
	<div  class="container-second">
	<form class="form-1">
		<label for="sk-1">Skills</label>
		<input type="text" name="sk-1" placeholder="eg-Css">
		<label for="sk-2">level</label>
		<select class="listdown">
			<option>High</option>
			<option>Low</option>
			<option>Medium</option>
		</select>
	</form><br>
	<button class="add_field_button remove" >
		Remove
	</button>
	
			

</body>
</html>